*{
    padding: 0%;
    margin: 0%;
}
button{
    
    margin: 300px;
    margin-left: 600px;
    padding: 10px;
    font-weight: bold;
    background-color: bisque;
    border-radius: 5px;
}